<section class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum sit adipisci illo esse odit iure ipsam non enim assumenda dignissimos?</p>
    </div>
</section>