<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App NodeJS with MongoDB</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum sequi totam architecto. Animi nisi quis dolorem, ullam voluptatum excepturi eveniet nulla harum culpa dolore delectus in dolorum molestiae similique quaerat.</p>    
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus a impedit nihil. Quo fuga unde magnam repellendus reiciendis. Id, neque?</p>
    <a href="https://workshop-platform.now.sh/" class="btn btn-primary">WorkShop Platform</a>
</div>
